
:root {
  --font-main: Poppins, Roboto ;
  --font-secondary: Bebas Neue, Liter;
}


body {
  font-family: var(--font-main);
  font-weight: 400;
  color: white;
  background-color: black;
}

* {
  box-sizing: border-box;
}
:root {
  --border-desktop-size: calc(1 / 1920 * 100vw);
  --border-mobile-size: calc(1 / 320 * 100vw);
}

.font-bebas-neue {
  font-family: Bebas Neue, var(--font-secondary)
}

.font-secondary {
  font-family: var(--font-secondary);
}


.font-inter {
  font-family: Inter;
}

.border-D {
  border-width: var(--border-desktop-size);
  border-style: solid;
}


.border-M {
  border-width: var(--border-mobile-size);
  border-style: solid;
}

.border-D-s {
  border-left-width: var(--border-desktop-size);
  border-style: solid;
}

.border-D-e {
  border-right-width: var(--border-desktop-size);
  border-style: solid;
}
.border-D-t {
  border-top-width: var(--border-desktop-size);
  border-style: solid;
}
.border-D-b {
  border-bottom-width: var(--border-desktop-size);
  border-style: solid;
}

.border-M-s {
  border-left-width: var(--border-mobile-size);
  border-style: solid;
}

.border-M-e {
  border-right-width: var(--border-mobile-size);
  border-style: solid;
}
.border-M-t {
  border-top-width: var(--border-mobile-size);
  border-style: solid;
}
.border-M-b {
  border-bottom-width: var(--border-mobile-size);
  border-style: solid;
}

.on-hover {
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}
